html, body{
    height: 100%;    
    margin: 0;
    padding: 0;
}

#numberZone{        
    background-color: #eee;
    padding: 20px;
}

#grid{
    position: relative;
    
    
}

.cell{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
	opacity:0;
    
}

.cell1{
    background-color: rgb(0, 149, 255);
}