﻿<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="#/UserList">User list</a></li>
        <li><a href="#/AddUser">Add User</a></li>
    </ul>
</div>

<div class="container" ng-view=""></div>