﻿<div class="container">
    <h1>Add User</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First name:</label>
            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="user.firstName" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Last name:</label>
            <div class="controls">
                <input type="text" id="inputLastName" ng-model="user.lastName" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="addUser()" class="btn btn-small btn-primary">add new user</a>
            </div>
        </div>
    </form>
</div>