﻿<table class="table table-hover">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.FirstName }}</td>
            <td>{{ user.LastName }}</td>
            <td><a ng-click="editUser(user.Id)" class="btn btn-small btn-primary">edit</a></td>
            <td><a ng-click="deleteUser(user.Id)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
    </tbody>
</table>
